*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

body{
    font-family: 'Arima', cursive;
    background-color: #659DBD;
    color: #fff;
    display: flex;
    flex-direction: column;
}

/* HEADER */
h1{
    text-align: center;
    font-weight: 700;
    font-size: 72px;
}

/* MAIN */
main{
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    gap: 100px;
}


/* FOOTER */
footer{
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #DAAD86;
}

.link_footer{
    text-decoration: none;
    color:#000;
    font-weight: 500;
    font-size: 19px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.img_footer{
    width: 40px;
    transition: transform .4s ease-in-out;
}

.img_footer:hover{
    transform: scale(1.1);
}